.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0,0,0,.7);
  .content {
    position: relative;
    box-sizing: border-box;
    .btn-close {
      position: absolute;
      top: -80upx;
      right: 10upx;
      font-weight: 800;
      font-size: 60upx;
      color: var(--main-color);
    }
  }
}

.dialog-day-data {
  width: 680upx;
  height: 600upx;
  background-color: #fff;
  border-radius: 10upx;
  box-shadow: 4upx 4upx 4upx 10upx rgba(0,0,0,.3);
  .title {
    margin-top: 30upx;
    font-weight: 800;
    font-size: 40upx;
    letter-spacing: 4upx;
    text-indent: 4upx;
    color: var(--main-color);
    text-align: center;
  }
  .data-list {
    margin: 10upx auto 0;
    width: 600upx;
    height: 460upx;
    border: 1px solid var(--main-color);
    overflow-y: scroll;
    .data-item {
      display: flex;
      width: 100%;
      height: 90upx;
      line-height: 90upx;
      .col {
        width: 50%;
        font-weight: 800;
        font-size: 38upx;
        text-align: center;
        letter-spacing: 12upx;
        text-indent: 12upx;
        color: var(--main-color);
        &.right {
          color: var(--reve-color);
        }
      }
      &.header {
        height: 75upx;
        line-height: 75upx;
      }
    }
  }
}
