.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0,0,0,.7);
  .content {
    position: relative;
    box-sizing: border-box;
  }
}

.dialog-day-data {
  width: 680upx;
  height: 600upx;
}